*{
    margin :0;
    padding :0;
    box-sizing :border-box;
}
.form-divider{
    position : relative;
}
.form-input{
    padding: 10px;
    width:100%;
    border-radius:10px;
    text-indent:15%;
}
.input-group{
    position: relative;
}
.input-icon{
    position:relative;
    left:5%;
    top:50%;
    transform : translateY(-50%);
}

.submit{
    border:none;
    padding:10px;
    border-radius:10px;
    background-color:var(--blue-color);
    font-weight:bold;
    cursor:pointer;
    width:90%;
    transform:translate(+5%,-5%);
    margin-top:50px;
}
.submit:hover{
    background-color: blue
    bottom:5%;
    left:50%;
    transform:translateX(-50%);
    font-size:x-small;
}